*{
    padding: 0;
    margin: 0;
}
.navbar{
    background-color: lightsalmon;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.nav-list{
    display: flex;
    list-style: none;
    justify-content: space-between;
}
a{
    text-decoration-line: none;
}
a:hover{
    background-color: rgb(252, 116, 62);
    padding: 1rem;
    border-radius: 8px/4px;
}
.navbar-brand{
    font:900 3rem Cursive;
    color: white;
}
.list-item{
    color: white;
    font:1.5rem sans-serif;
    text-transform: uppercase;
    margin-right: 1em;
}
.carousel{
    overflow: hidden;
    width: 90vw;
    margin: 2px auto;
}
figure{
    position: relative;
    height: 70vh;
    width: 500%;
    animation: 20s carousel infinite;
}
.carousel figure img{
    width: 20%;
    height: 100%;
    float: left;
}
.main-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.wrapper{
    height: fit-content;
    width: 20vw;
    border: 1px solid black;
    border-radius: 1em;
    margin:50px auto;
}
.wrapper img{
    height: fit-content;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    width: 100%;
}

@keyframes carousel {
    0% {
        left: 0%;
    }
    20%{
        left: 0%;
    }
    25%{
        left: -100%;
    }
    45%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    70%{
        left: -200%;
    }
    75%{
        left: -300%;
    }
    95%{
        left: -300%;
    }
    100%{
        left: -400%;
    }
}